<div class="row">
  <ol class="breadcrumb" style="background-color: transparent">
    <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#/groups"><i class="fa fa-users"></i> Groups</a></li>
    <li class="active"> Members</li>
  </ol>

</div>
<div class="row " cg-busy="{promise:mypromise,templateUrl:'partials/custom-template.html'}" xmlns="http://www.w3.org/1999/html">
  <div class="col-lg-12">
    <h4> ({{GroupID}}) Group's Member Management</h4>
    <div class="under">

      <!-- Button trigger modal -->
      <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>
        New Member
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel"> Add new Member</h4>
            </div>
            <div class="modal-body">
              <form data-toggle="validator" role="form">
                <div class="row" style="padding-left: 15px;">
                  <div class="col-lg-9 col-lg-offset-1 form">
                    <div class="row from-group" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">First Name:</label>

                      <input class="form-control pull-right" 
                             style="width: 300px; height: 35px" data-ng-model="firstName" type="text" placeholder="First Name">
                    </div>
                    <div class="row from-group" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">Last Name:</label>

                      <input class="form-control pull-right"
                             style="width: 300px; height: 35px" data-ng-model="lastName" type="text" placeholder="Last Name">
                    </div>
                    <div class="row from-group" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">NIC:</label>

                      <div class="from-group input-group" style="padding-left: 1.7cm">

                        <input class="form-control pull-right"
                               style="width: 267px; height: 35px" data-ng-model="nic" type="number" maxlength="9" placeholder="NIC">
                        <span class="input-group-addon">   V</span>

                      </div>
                    </div>

                    <div class="row" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">Loan :</label>

                      <div class="from-group input-group" style="padding-left: 2.1cm">
                        <span class="input-group-addon">Rs.</span>
                        <input class="form-control"
                               style=" height: 35px " data-ng-model="Balance" maxlength="9" type="number" placeholder="Balance" readonly>
                        <span class="input-group-addon">.00</span>

                      </div>
                    </div>


                    <div class="row from-group" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">Due Date:</label>


                      <input class="form-control pull-right"
                             style="width: 300px; height: 35px" data-ng-model="DDate" type="date">

                    </div>
                    <div class="row from-group" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">Area:</label>

                      <input class="form-control pull-right"
                             style="width: 300px; height: 35px" data-ng-model="area" type="text" placeholder="Area" readonly>
                    </div>

                    <div class="row from-group" style="padding-bottom: 5px" >
                      <label class="pull-left" style="padding-left: 1cm">Telephone:</label>

                      <input class="form-control pull-right"
                             style="width: 300px; height: 35px" data-ng-model="telephone" type="text"
                             placeholder="Telephone" minlength="10" data-minlength="6" maxlength="10">

                    </div>

                    <div class="row from-group" style="padding-bottom: 5px">
                      <label class="pull-left" style="padding-left: 1cm">Address:</label>

                      <input class="form-control pull-right"
                             style="width: 300px; height: 35px" data-ng-model="address" type="text" placeholder="Address">
                    </div>



                  </div>
                </div>
                </form>
            </div>
            <div class="modal-footer" style="height: 2cm;">


              <div class="row form-group pull-right" style="padding-top: 10px;padding-right: 20px;">

                <button type="button reset" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button class="btn btn-success btn-sm" type="button"
                        data-ng-disabled="!firstName || !lastName || !nic || !Balance || !DDate || !area  || !telephone"
                        data-ng-click=" addMember();" data-dismiss="modal"> Add Member</button>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>

    <div class="panel panel-white" ng-controller="TransCtrl" >
      <div class="panel-heading clearfix">

        <div class="pull-left"> Registered Members ({{MembersList.length}})</div>
        <input class="form-control pull-right" data-ng-model="query" type="text" class="form-control empty" id="iconified" placeholder="&#xF002; Search.." style="width: 180px;height: 25px;font-family:Arial, FontAwesome">

      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>NIC</th>
              <th>Name</th>
              <th>Balance</th>
              <th>DueDate</th>
              <th>Area</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="repeat-animation" data-ng-repeat="member in MembersList | filter:query | orderBy:'Name'">
              <td>{{member.NIC}} V</td>
              <td>{{member.FirstName}}  {{member.LastName}}</td>
              <td>Rs.{{member.Balance}}.00</td>
              <td>{{member.DueDate }}</td>
              <td>{{member.Area}}</td>
              <td><div class="btn-group">
                <a href="#/members/{{member.NIC}}" class="btn btn-info btn-xs"  style="color: #ffffff" role="button"><i class="fa fa-user"></i> Profile</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning btn-xs" ng-click="setNIC(member.NIC);" data-toggle="modal" data-target="#myModal2">
                  Payment
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel2"> Payment Window</h4>
                      </div>
                      <div class="modal-body">

                        <div class="row" style="padding-left: 15px;">
                          <div class="col-lg-9 col-lg-offset-1 form">

                            <div class="row from-group" style="padding-bottom: 5px">
                              <label class="pull-left" style="padding-left: 1cm">NIC:</label>

                              <input class="form-control pull-right"
                                     style="width: 300px; height: 35px" data-ng-model="NatIdentity" type="number" placeholder="NIC" readonly>
                            </div>

                            <div class="row" style="padding-bottom: 5px">
                              <label class="pull-left" style="padding-left: 1cm"> Amount: </label>

                              <div class="from-group input-group" style="padding-left: 1.7cm">
                                <span class="input-group-addon">Rs.</span>
                                <input class="form-control"
                                       style=" height: 35px" data-ng-model="Bal" type="number" placeholder="payment">
                                <span class="input-group-addon">.00 </span>

                              </div>
                            </div>

                            <div class="row from-group" style="padding-bottom: 5px">
                              <label class="pull-left" style="padding-left: 1cm">Due Date:</label>


                              <input class="form-control pull-right"
                                     style="width: 300px; height: 35px" data-ng-model="DuDate" type="date">

                            </div>

                            <div class="row from-group" style="padding-bottom: 5px">
                              <label class="pull-left" style="padding-left: 1cm">Date:</label>


                              <input class="form-control pull-right"
                                     style="width: 300px; height: 35px" data-ng-model="toDate" type="date">

                            </div>

                            <div class="row from-group" style="padding-bottom: 5px">
                              <label class="pull-left" style="padding-left: 1cm">Officer:</label>

                              <input class="form-control pull-right"
                                     style="width: 300px; height: 35px" data-ng-model="OffName" type="text" placeholder="Officer Name">
                            </div>


                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="trans(NatIdentity,Bal,DuDate,toDate,OffName);" class="btn btn-primary btn-sm" > Done</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <button type="button" ng-click="deleteMember(member.NIC);" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
              </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>

    </div>


  </div>
  <!-- /.col-lg-12 -->
</div>