<div class="row" ng-controller="MemberProfileCtrl">
    <ol class="breadcrumb" style="background-color: transparent">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#/quizzes"><i class="fa fa-users"></i> Quiz</a></li>
        <li><a href="#/questions"><i class="fa fa-user"></i> Question</a></li>
        <li class="active">Statics</li>
    </ol>

</div>
<div class="row">
    <div class="col-lg-12" style="padding-left: 7px">
        <div class="col-lg-4">
            <div class="panel panel-white">
                <div class="panel-heading"><i class="fa fa-question-circle"></i> Top Scorers

                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Scorer</th>
                                <th>Score</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="repeated-item" data-ng-repeat="group in listofGroups | filter:query | orderBy:'_id'" >
                                <td>{{group._id}}</td>
                                <td>{{group.balance}}</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-white" ng-controller="DueCtrl"  >
                <div class="panel-heading">
                    <i class="fa fa-calendar fa-fw"></i> Attempts

                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#/members/{{due.NIC}}" class="list-group-item" style="height: 1.5cm;" ng-repeat="due in DueList | orderBy:'DueDate'">
                            <i class="fa fa-calendar fa-fw"></i> {{due.FirstName}} {{due.LastName}}
                                    <span class="pull-right text-muted small"><em>{{due.DueDate}}</em>
                                    </span>
                        </a>


                    </div>
                    <!-- /.list-group -->

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-white" ng-controller="NotificationsCtrl">
                <div class="panel-heading" >
                    <i class="fa fa-bell fa-fw"></i> Notifications
                    <div class="btn-group pull-right">
                        <a href="#/notifications" style="color: #ffffff" class="btn btn-warning btn-xs"> Go to Notifications</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="" class="list-group-item" style="height: 1.8cm;" data-ng-repeat="notif in NotificationsList">
                            <i class="fa fa-bell fa-fw"></i> {{notif.Info}}
                                    <span class="pull-right text-muted small"><em>{{notif.Time}}</em>
                                    </span>
                        </a>


                    </div>
                    <!-- /.list-group -->

                </div>
            </div>
        </div>
    </div>

</div>